<h1>New Contact Created</h1>
<h3>@Model.GetName()</h3>
<ul>
  <li>Phone: @Model.GetPhoneNumber()</li>
  <li>Email: @Model.GetEmail()</li>
</ul>

<a href="/contact">Add Another contact</a>
<a href="/">View Contact List</a>
